#Podesavanja{
/* width: 100%; */
height:20vh;
background-color: rgba(74, 200, 238, 0.568);
}

#Srednji{
height:70vh;
background-color: rgba(54, 173, 194, 0.719);

}
.container{
    /* margin-top:20%; */
    display: inline-block;
    margin-top: 1%;
    margin-left:20%;
    margin-right:0%;
    padding-top: 3px;
    background-color: rgb(100, 100, 128);
}
.kocke{
    margin: 0;
    padding: 0;
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: rgba(156, 201, 72, 0.815);
    /* //margin-bottom: 1px; */
    margin-left: 1px;
    margin-right: 1px;
}

.pocetak{
    margin: 0;
    padding: 0;
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: rgba(11, 9, 141, 0.815);
    /* //margin-bottom: 1px; */
    margin-left: 1px;
    margin-right: 1px;
}

.istrazen{

    margin: 0;
    padding: 0;
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: rgba(156, 30, 146, 0.815);
    /* //margin-bottom: 1px; */
    margin-left: 1px;
    margin-right: 1px;
}
.cilj{
    margin: 0;
    padding: 0;
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: rgba(83, 22, 22, 0.815);
    /* //margin-bottom: 1px; */
    margin-left: 1px;
    margin-right: 1px; 
}
.prepreka{
    margin: 0;
    padding: 0;
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    /* //margin-bottom: 1px; */
    margin-left: 1px;
    margin-right: 1px; 
}
.najkraciPut{
    margin: 0;
    padding: 0;
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: rgba(2, 177, 32, 0.877);
    /* //margin-bottom: 1px; */
    margin-left: 1px;
    margin-right: 1px; 
}
/* .divPod{
width:5%;
height:25%;
color: blanchedalmond;
} */
button{
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
    /* margin-left: 1%; */
}
#startDiv{
    width: 7%;
    height: 25%;
    color: wheat;
    background-color: rgba(11, 9, 141, 0.815);
}
#ciljDiv{
    width: 9%;
    height: 25%;
    color: wheat;
    background-color: rgba(83, 22, 22, 0.815);
}
#preprekaDiv{
    margin: 0;
    padding: 0;
    width: 10%;
    height: 25%;
    color: wheat;
    background-color: rgb(0, 0, 0);
}
#dugmeZaPokretanje{
    width: 5%;
    height: 25%;
    color: whitesmoke;
    background-color: green;
}
#stop{
    width: 5%;
    height: 25%;
    color:black;
    background-color:red
}
#ocisti{
    width: 8%;
    height: 25%;
    color:black;
    background-color: rgb(243, 98, 14);
}
#dugmeVS{
    width: 10%;
    height: 25%;
    color:black;
    background-color: khaki;
}
#random{
    width: 10%;
    height: 25%;
    color:black;
    background-color: rgb(181, 163, 189);
}


/* <div class="divPod" id="startDiv"></div>
<div class="divPod" id="ciljDiv"></div>
<div class="divPod" id="preprekaDiv"></div> */
